@font-face {
  font-family: "kenney-pixel";
  src:url("../assets/fonts/Kenney_Pixel_Square.ttf");
}

@font-face {
  font-family: "kenney-future";
  src:url("../assets/fonts/Kenney_Future_Narrow.ttf");
}


html {
  width: 100%;
  height: 100%;
}

body {
  /* Prevent Scrolling  */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family:"kenney-pixel";
}

div {
  margin:0;
  padding:0;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid grey;

  /* Stretch canvas to fill screen size  */
  /* width: 100% !important; */
  /* height: 100% !important; */
}
